<h2>Sobre</h2>
<p>O <b>Rastreamento de Objetos por Email</b> foi criado porque eu sou "compulsivo maniaco", então eu ficava olhando a cada 5 minutos
se o status da minha encomenda tinha mudado, por eu comprar muitas coisas de fora o tempo que eu perdia olhando se o produto mudou o status
era muito grande.</p>

<p>Esse projeto é um projeto <b>Open Source</b>, você pode contribuir com ele através do repositório, <a href="http://github.com/mantovani/Correios">https://github.com/mantovani/Correios</a>
